<blockquote>
  <p>The AMIS is a transactional vehicle acting as asset management instrument for decentralized services running on the blockchain in today's digital economy ecosystem.</p>
  <footer><a href="https://amisolution.github.io/amis-erc20" target="_blank">https://amisolution.github.io/amis-erc20/</a></footer>
</blockquote>
